html{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url("/Library/css/images/manageBorrow.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#label1{
    font-size: 25px;
    font-family: 宋体;
    position: absolute;
    left: 10%;
    color: black;
}
#label2{
    font-size: 15px;
    position: absolute;
    left: 83%;
}
#label3{
    position: absolute;
    left: 10%;
    top: 5%;
}
#label4{
    position: absolute;
    left: 35%;
    top: 5%;
}
#label5{
    position: absolute;
    left: 58.5%;
    top: 5%;
}
.navbar {
    padding: 10px; /* 设置导航栏的内边距 */
    height: 5%;
    background-color: #a8dcdd;/* 设置导航栏的背景颜色 */
}

.nav {
    list-style-type: none; /* 去除列表项的默认样式 */
    margin: 0; /* 去除列表的外边距 */
    padding: 0; /* 去除列表的内边距 */
    height: 5%;
    position: absolute;
    top: 2%;
    left: 25%;
}

.nav li {
    display: inline-block; /* 设置导航项水平排列 */
}

.nav li a {
    color: #000; /* 设置导航项的文本颜色 */
    text-decoration: none; /* 去除链接的下划线 */
    padding: 10px; /* 设置导航项的内边距 */
}

.nav li a:hover {
    background-color: #ccc; /* 设置鼠标悬停时导航项的背景颜色 */
}

.nav li a.active {
    background-color: #003366; /* 设置当前页面导航项的背景颜色 */
    color: #fff; /* 设置当前页面导航项的文本颜色 */
}
#button1{
    position: absolute;
    left: 95%;
    font-size: 15px;
    border: none;
}
#button3{
    position: absolute;
    left: 15%;
    top: 95%;
}
#button4{
    position: absolute;
    left: 25%;
    top: 95%;
}
#button5{
    position: absolute;
    left: 35%;
    top: 95%;
}
#button6{
    position: absolute;
    left: 45%;
    top: 95%;
}
#input1{
    position: absolute;
    left: 16%;
    height: 5%;
    width: 15%;
    top: 3.5%;
}
#input2{
    position: absolute;
    left: 39.5%;
    height: 5%;
    width: 15%;
    top: 3.5%;
}
#input3{
    position: absolute;
    left: 64.5%;
    height: 5%;
    width: 15%;
    top: 3.5%;
}
#input4{
    position: absolute;
    left: 84%;
    height: 6%;
    top: 3.5%;
    width: 6%;
}
#div1{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 15%;
}
#table{
    position: absolute;
    border-collapse: separate; /* 设置表格的边框为分隔模式，确保border-spacing生效 */
    border-spacing: 10px; /* 设置单元格的间距为10像素 */
    top: 12%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    opacity: 90%;
}
th{
    text-align: left;
    height: 10%;
}
td{
    text-align: left;
    width: 14%;
    height: 15%;
}