<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
    <link rel="stylesheet" th:href="@{/css/updateManagerPassword.css}" href="../../css/updateManagerPassword.css">
</head>
<body>
<div class="navbar">
    <label id="label1">图书馆</label>
    <ul class="nav">
        <li><a href="manageBook.html" th:href="@{/managebook}">图书管理</a></li>
        <li><a href="manageUser.html" th:href="@{/manageuser}">用户管理</a></li>
        <li><a href="manageBorrow.html" th:href="@{/manageborrow}">借还管理</a></li>
        <li><a href="updateManagerPassword.html" th:href="@{/updatemanagerpassword}">密码修改</a></li>
    </ul>
    <label id="label2" th:text="管理员+':'+${session.admin.getUsername()}">admin</label>
    <button id="button1" th:onclick="|exit()|">退出</button>
</div>
<div id="div1">
    <label id="label3">输入旧密码</label>
    <input id="input1" type="password" name="oldPassword" placeholder="输入旧密码">
    <label id="label4">输入新密码</label>
    <input id="input2" type="password" name="newPassword" placeholder="长度不超过30位">
    <label id="label5">确认密码</label>
    <input id="input3" type="password" name="confirmPassword" placeholder="确认密码">
    <input id="input4" type="button" value="确认修改" @click="updatePassword()">
</div>
<script th:src="@{/js/updateManagerPassword.js}"></script>
<script  type="text/javascript" th:src="@{/js/vue.js}"></script>
<script  type="text/javascript" th:src="@{/js/axios.min.js}"></script>
<script type="text/javascript">
    var vue = new Vue({
        el:"#div1",
        methods:{
            updatePassword(){
                var oldpassword = document.getElementById("input1").value;
                var newpassword = document.getElementById("input2").value;
                var confirmpassword = document.getElementById("input3").value;
                axios.get(
                    "/Library/updatepassword/manager?oldPassword="+oldpassword+"&newPassword="+newpassword+"&confirmPassword="+confirmpassword
                ).then(function (response){
                    if (response.data === false){//这里响应数据位布尔类型
                        alert("修改失败，请检查数据")
                    }else{
                        window.location.href = "/Library/userexit";
                    }
                });
            }
        }
    });
</script>
</body>