<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>图书查询</title>
  <link rel="stylesheet" th:href="@{/css/userSeacher.css}" href="../../css/userSeacher.css">
</head>
<body>
<div class="navbar">
  <label id="label1">图书馆</label>
  <ul class="nav">
    <li><a href="userSeacher.html" th:href="@{/userseacher}">图书查询</a></li>
    <li><a href="userInfo.html" th:href="@{/userinfo}">个人信息</a></li>
    <li><a href="userReturn.html" th:href="@{/userreturn}">图书归还</a></li>
    <li><a href="updateUserPassword.html" th:href="@{updateuserpassword}">密码修改</a></li>
  </ul>
  <laber id="label2" th:text="用户+':'+${session.user.getUsername()}">用户</laber>
  <button id="button1" th:onclick="|exit()|">退出</button>
</div>
<div id="div1">
  <form th:action="@{/userseacher}" method="get">
    <input id="input1" type="text" name="bookname" placeholder="输入图书名">
    <button id="button2" type="submit">搜索</button>
  </form>
  <table id="table">
    <tr>
      <th class="th">书名</th>
      <th class="th">作者</th>
      <th class="th">出版社</th>
      <th class="th">ISBN</th>
      <th class="th">剩余数量</th>
      <th class="th">借阅</th>
    </tr>
    <tr th:each="book, rowStatus : ${booklist}" th:if="${rowStatus.index} &lt; 5">
      <td th:text="${book.getBookname()}"></td>
      <td th:text="${book.getAuthor()}"></td>
      <td th:text="${book.getPublisher()}"></td>
      <td th:text="${book.getISBN()}"></td>
      <td th:text="${book.getCount()}"></td>
      <td th:if="${book.isStatus()}" th:text="已借阅"></td>
      <td th:unless="${book.isStatus()}"><button th:onclick="|borrowBook(${session.user.getId()},${book.getId()})|" th:text="借阅"></button></td>
    </tr>
    <tr th:each="row: ${#numbers.sequence(1, 5 - #lists.size(booklist), 1)}">
      <td colspan="6"></td>
      <!-- 使用循环生成额外的空行，循环次数为 5 - bookList 的大小 -->
    </tr>
  </table>
  <button id="button3" th:data-bookname="${bookname}" th:onclick="|pageChange(1,${pages},this.getAttribute('data-bookname'))|">首页</button>
  <button id="button4" th:data-bookname="${bookname}" th:onclick="|pageChange(${pageNum - 1},${pages},this.getAttribute('data-bookname'))|">上一页</button>
  <button id="button5" th:data-bookname="${bookname}" th:onclick="|pageChange(${pageNum + 1},${pages},this.getAttribute('data-bookname'))|">下一页</button>
  <button id="button6" th:data-bookname="${bookname}" th:onclick="|pageChange(${pages},${pages},this.getAttribute('data-bookname'))|">尾页</button>
</div>
<script th:src="@{/js/userSeacher.js}"></script>
</body>
</html>